[2020-11-29 16:54] dakshsriv opened #3 "Fails to render when running from systemd"
Wanted to thank you for this project. I needed something like this to maintain my notes. Great work!

So I am running it locally and want to start the wiki via systemd.
When I run from shell, the wiki works well and renders properly.
When I run via systemd, it does not render the pages.

**Systemd Unit**
[code]

**Traces**
[code]

[2020-11-29 17:36] Linbreux commented on #3
Oeps thats something that needs to be fixed. I have not tried running it from systemd and will try to find a solution. Thanks for the feedback!

[2020-11-29 18:29] Linbreux commented on #3
I did exactly what you did and it works for me.

[code]
`sudo systemctl start wikimd`

Traces:
[code]
![wiki](https://user-images.githubusercontent.com/29354411/100550226-d1aa5f00-3278-11eb-8c91-58e687295d37.png)

Does it render the webpage and just not the markdown part or nothing?

[2020-12-03 21:14] dakshsriv commented on #3
The page does not render. Looks like markdown rendering is broken in that environment.
The page outline renders. I wonder if it is not able to find pandoc for some reason.

[2020-12-03 21:33] dakshsriv commented on #3
I tried another approach. Still not able to render pages. Although I am able to click the edit button and edit the pages.

File: /etc/systemd/system/wiki.service
[code]

File: wiki.sh
[code]

I did that change to be able to get stdour and stderr output in /var/log/messages .
This is what I get. still no clue.
[code]

[2020-12-03 22:55] Linbreux commented on #3
Ok I think I found the issue by using my other computer. It's probably a because of pandoc-xnos. I will update the project when fixed. I'll try to do this today. I will also update the logging so that errors are shown.

[2020-12-04 00:22] Linbreux commented on #3
Could you please try running
`sudo pip uninstall pandoc-fignos pandoc-eqnos pandoc-tablenos pandoc-secnos`
I think you should do this outside of the virtualenv.

[2021-01-17 11:22] #3 closed

[2021-05-12 18:38] y377 opened #4 "Hello, can you provide a demo? Thank you"
Thank you for your open source, can you provide a demo for other users to view? At the same time I am also considering building a wiki program (wiki.xin)

[2021-05-12 19:07] Linbreux commented on #4
I did not yet look for a good webhost for this. Also, I have not implemented user auth, what would be kinda required for this. If you got any recommendations let me know ;)

If you would like to contribute to wikmd be my guest!

[2021-05-12 19:51] y377 commented on #4
ok，i try it

---Original---
From: ***@***.***&gt;
Date: Thu, May 13, 2021 03:07 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [Linbreux/wikmd] Hello, can you provide a demo? Thank you (#4)

I&nbsp;did&nbsp;not&nbsp;yet&nbsp;look&nbsp;for&nbsp;a&nbsp;good&nbsp;webhost&nbsp;for&nbsp;this.&nbsp;Also, I have not implemented user auth,&nbsp;what&nbsp;would&nbsp;be&nbsp;kinda&nbsp

[2021-05-19 06:10] #4 closed

[2021-05-26 06:39] schinkelg opened #5 "Search button results in werkzeug.exceptions.BadRequestKeyError"
Using the search button results in a  werkzeug.exceptions.BadRequestKeyError.

[code]

Used the latest Docker build from Github.

[2021-09-23 17:45] #5 closed

[2022-02-17 19:31] poblabs opened #13 "Ability to change sort?"
Hi, is it possible to change the sort method? Like last modified at the top? Thanks!

[2022-02-17 19:52] Linbreux commented on #13
The list files? Not yet, but i'll try to implement this in the course of the week! Thanks for the suggestion!

[2022-02-18 02:03] poblabs commented on #13
I was actually able to figure this out - though I'm not sure yet how to make it something that can be enabled/disabled/changed by an environment variable or something.

Here's what I changed. Basically scan each file for modified time, add to the output list. then in the template file, reverse sort that modified time. It's in the template file that I don't know how you'd apply an environment varia

[2022-02-18 11:09] Linbreux opened #15 "Add saving via ctrl+s"
Just an idea. Will implement this later.

[code]

[2022-02-23 15:15] Linbreux commented on #13
#16 implements the sorting. Did it in python instead of html jinja. I hope this solves your issue.

[2022-02-23 16:28] #15 closed

[2022-02-23 17:47] poblabs commented on #13
Works great, thank you!

[2022-02-23 17:47] #13 closed

[2022-03-02 22:37] artivis opened #20 "[bug] local variable 'repo' referenced before assignment"
Hi,
I've hit the following error on [l.147](https://github.com/Linbreux/wikmd/blob/e3c6076fe7c3f51f85504c39f1a6979ceb398f78/wiki.py#L147):

[code]

[2022-03-02 22:42] Linbreux commented on #20
Hi did you use

[code]
Could you give a little more info? Did you use virtualenv or do you have git installed?

[2022-03-02 22:59] artivis commented on #20
Hey, thanks for the prompt reply.

I'm messing around building my own Docker and my particular issue is a permission issue: `git.Repo.init(WIKI_DATA)` gets a permission denied. That's on me and I'm fixing it.

However, if for any reason the `try` block preceding l.147 fails, the `repo` variable is indeed referenced before being assigned. You may want to enclose it in its own `try` block or what no

[2022-03-02 23:01] Linbreux commented on #20
I looked into the code, and you are right that there is a bug. #21 should fix this. Though, this means that you still have a problem using the versioning system. If this did not fix it, feel free to reply!

[2022-03-02 23:05] Linbreux commented on #20
Did you use the [Dockerfile](https://github.com/Linbreux/wikmd/blob/main/Dockerfile)? I'm not that experienced with Docker, so there might be an issue on my part.

[2022-03-02 23:13] artivis commented on #20
Nop I'm creating my own image (hence my own Dockerfile).
I've tried again and the issue seems to be fixed :+1:

[2022-03-02 23:13] #20 closed

[2022-03-03 15:32] artivis opened #22 "[Feature request] optional/custom log path"
Hi,

Could it be possible to make the file logging optional?

Furthermore, it would be great to be able to set a custom path for the logging file (`wikmd.log`). Maybe through an environment variable? Depending on how the wiki is launched, it may not have the permissions to write at the path it is launched from.

Thx.

[2022-03-03 16:33] artivis commented on #22
Thanks a bunch for the prompt reply! I'll test this asap.

[2022-03-05 15:50] artivis commented on #22
Hi, I can confirm that these two new features work fine :+1:. Thanks again.

[2022-03-05 15:50] #22 closed

[2022-03-05 22:15] artivis opened #23 "Docker file"
Hi @Linbreux,

I've created a Docker file for `wikmd` that is loosely inspired by those of the [`linuxserver`](https://www.linuxserver.io/) community and I've successfully tested it on amd64 and arm (raspberry pi + raspbian). You can [find them on my fork](https://github.com/artivis/wikmd/tree/docker/docker).

I don't really plan on actively maintaining it as I won't fully transition to `wikmd` ju

[2022-03-06 11:36] Linbreux commented on #23
Hi @artivis

Really appreciate the work you put into Wikmd. A PR would be great! Also, nice documentation!

That's no problem. Do you got any features, that you would like to see implemented in the wiki?

[2022-03-06 23:11] artivis commented on #23
Hi,

Would you prefer a PR against this repo or host the docker file in a separate one? The way it is set up now allows for the later since the Docker file script actually pull the code directly from the `wikmd` repo's master branch.

Regarding features, let me start by saying that I like that `wikmd` is file-based. It allows me to keep my existing folder-based organization and not being locked in

[2022-03-08 17:14] Linbreux commented on #23
Hi @artivis

For now you can create a PR in this repo. I can fix this later on.

In terms of features I'm still not sure if I would integrate user auth since I'm not sure how I want it to work.

The tagging is a great idea, i'll try to implement it in a later release!

Appreciate the honest feedback, thanks!

[2022-03-11 02:28] Mik3Rizzo opened #24 "Usability and refactoring"
Hi,
Nice work again (I'm the guy from Reddit)!

I've found some small usability issues related to item positioning, general consistency and style. I'm trying to improve the design of the website (I've switched to bootstrap 5.1) in order to reach a better user interaction.
I'm also trying to refactor a little bit the project, both for the structure side and from the coding side (comments, etc.).

I

[2022-03-11 11:03] Linbreux commented on #24
Hi @Mik3Rizzo

I checked out your fork, great work appreciate the effort you put into it.
I think I should start with the things I really like. The icons for a new page, edit and remove look great, very user-friendly same with the search bar.  Also, I like what you did with the footer, in my opinion it would be even greater if it was centered. Also nice code cleanup!

A couple of notes:
the ```*.l

[2022-03-11 11:58] Mik3Rizzo commented on #24
Thanks for checking out my fork and for all the suggestions.

### What I'll do soon
- include back the environments directories and '*.log` in the `.gitignore`, sorry I "cleaned" too much ;-)
- fix the modal - I think you're right, the problem could be related to bootstrap5.
- center the footer.

I'll try to add config files and/or command line arguments. Should I keep the env variables for docker

[2022-03-11 17:44] Linbreux commented on #24
Hi thats great!

Perfect! For now I think the env vars should indeed be kept.

No problem, its just easier to accept different features in different PR's.

The first one 😉 I think your theme is already '''super dark'''

[2022-03-11 18:29] Mik3Rizzo commented on #24
I've done a PR before reading this! But it is not a big problem, switching colors should be easier and faster since I introduced a dedicated `wiki.colors.css`.

I'm in love with really dark themes, like this GitHub one ;-)

[2022-03-12 11:38] Linbreux commented on #24
Alright! I'll change it before merging and will create the extra dark toggle this week.

[2022-03-12 14:04] Mik3Rizzo commented on #24
In my opinion three themes are too many: users are familiar with light/dark mode and no more. With three themes the toggle would be replaced by a drop down menù or something similar, that is not as handy to use as the toggle. My suggestion is to mod the dark theme as you like and keep only light/dark themes.

[2022-03-13 18:58] Linbreux commented on #24
Alright ;) I have merged your PR and added it to the documentation. Thanks for the contribution, If you got any other PR's feel free to submit them!

[2022-03-13 19:05] Mik3Rizzo commented on #24
It was a pleasure contributing, I really like this simple wiki! I've some ideas, maybe I'll implement them and do some PRs ;-)

[2022-03-13 19:13] #24 closed

[2022-03-14 01:30] Mik3Rizzo opened #26 "Commit bug due to (my) refactoring"
[This line](https://github.com/Linbreux/wikmd/blob/76637629a0b0c5b5788b0d6d531cb3602a2ae782/wiki.py#L170):
[code]
Should be:
[code]
Otherwise commits don't work.

I was developing git push to remote repos when I discovered this annoying bug. I may have introduced it due to the automatic refactoring. Sometimes it could be a pain: my bad, sorry!

**PS.** I've already implemented configuration throug

[2022-03-14 02:05] Mik3Rizzo opened #27 "git checkout error for initialized repo"
When starting again the wiki, the initialization of the repo fails and commits will not be added.

Here's the log:
[code]

I may have fixed it dropping the `-b` parameter if the repo has already been initialized.

[2022-03-14 06:51] Linbreux commented on #26
Hi,
Thanks for sharing I'll have a look at it!

[2022-03-14 06:53] Linbreux commented on #27
Yes but like you said, this can only be done once the repo is already initialized.

[2022-03-14 13:05] Mik3Rizzo commented on #27
This is true, but the `-b` switch creates a new branch. It is fine if the repo is initialized and "empty" (so it is brand new), but if the repo is an existing (and not empty) one the command gives me the reported error.

I also noticed that [this initialization block](https://github.com/Linbreux/wikmd/blob/76637629a0b0c5b5788b0d6d531cb3602a2ae782/wiki.py#L156-L164) is executed every time there is

[2022-03-14 14:27] Mik3Rizzo opened #28 "pandoc tries to convert the favicon"
I noticed that two `GET` requests are made once a wiki page has been opened:
- page request
- favicon request

Adding a bit of logging details, this is the console out:
[code]
Pandoc tries to convert to HTML both the page (that is correct) and the favicon (that is not desirable).
I'll try to fix that.

[2022-03-14 17:26] Linbreux commented on #28
Hi I think thats because you have a markdown file in the wiki folder '''favicon.ico.md'''

All markdown files will be rendered to html.

Make sure you put your commits for different topics and features on different branches 😉

[https://dev.to/projectpage/how-to-move-a-commit-to-another-branch-in-git-4lj4](https://dev.to/projectpage/how-to-move-a-commit-to-another-branch-in-git-4lj4)

[2022-03-14 17:48] Mik3Rizzo commented on #28
Uhm, I don't have such a file...

I swear I'll learn to manage branches for the next time, up to now I've developed all in the main branch... thank you for the suggested guide!

Anyway, I fixed this favicon bug with a simple check.

[2022-03-14 19:11] Linbreux commented on #27
I have a look at it. I currently got an error on init.
[code]

[2022-03-28 14:43] tionis opened #30 "UnicodeDecodeError on search"
I just tried the server withing the docker container as per the instructions and filled it with a few markdown files to test it.
When typing in a search term and sending it, I get an UnicodeDecodeError as follows:
[code]

[2022-03-28 15:24] Linbreux commented on #30
Hi @tionis,

This docker file in this repo has some issues. You an use a newer version that has been made in a fork: https://github.com/artivis/wikmd/tree/docker/docker

Let me know if you got any questions!

[2022-03-28 16:06] Linbreux commented on #30
I'll have a look at it, thanks for sharing!

[2022-03-28 16:41] Linbreux commented on #30
I changed a line to ignore encoding errors b1b8ff99b9385e6835f58357b3252e84579f3ba2 :
[code]
to
[code]
Could you try it again with the latest commits? Unfortunately, I can't reproduce the error myself.

[2022-03-28 17:37] tionis commented on #30
I am running on Linux, specifically Manjaro.
The latest commit fixed the search issue for me, the search needs about halt a second and then I get a list of files in which the keyword was found.
I've got another problem, that the images in the files are not embedded correctly for me, but this doesn't seem to be related to the encoding issue.

[2022-03-28 17:54] Linbreux commented on #30
Alright, nice that this is solved. How many files do you have in the wiki? If you got less than 50 files, the search should go pretty fast (I'm working on optimizing this).

Could you give an example? Where are the images stored, and what is the path you use in Markdown to implement them?

[2022-03-28 17:56] tionis commented on #30
Well I imported my obsidian/vimwiki files to test wikmd, which are 787 notes, with 193 attachments totaling about 53 MB of files.
The images were just embedded using the `![](./local_file_here.jpg)` syntax

[2022-03-28 18:30] Linbreux commented on #30
I guess that the ```./``` is not necessary in the wiki, but I'll integrate this!

[2022-03-28 20:58] tionis commented on #30
Actually I didn't use ./ for specifying the file, I will take a look at  it again later and open a new issue if I find out more.
I think we can consider the encoding issue fixed then?

[2022-03-28 20:58] #30 closed

[2022-03-29 18:57] tionis commented on #30
Short Update: the Decode Error still also occurs when opening the graph view

[2022-03-29 19:49] Linbreux commented on #30
Hi

Alright perfect!

sorry, forgot to change it for the graph view. e6da598e65708d4f8727ad36ccb497b9d6499a66 fixes this.
Thanks for letting me know!

[2022-04-03 08:43] #28 closed

[2022-04-03 10:43] #23 closed

[2022-04-04 21:49] Mik3Rizzo opened #33 "env. vars should have precedence on the YAML file"
The `.yaml` config file has precedence on the env. vars.
The contrary should be better, otherwise for the cointainer usage the default `wikmd-config.yaml` should be empty before launching the app.

[2022-04-04 22:14] Mik3Rizzo opened #34 "exception when deleting a wiki page"
I discovered a little typing error [here](https://github.com/Linbreux/wikmd/blob/deafcf190fceff5cae430451692f45bc37700d9a/wiki.py#L251) that leads to an exception while trying to delete a page:

[code]

[2022-04-05 12:37] Mik3Rizzo opened #36 "Exception for custom wiki directory"
I set up `wiki_directory = "m-iki"` and I got this exception:

[code]

[2022-04-05 12:52] #34 closed

[2022-04-05 12:52] #27 closed

[2022-04-05 12:52] #26 closed

[2022-04-05 20:01] Linbreux commented on #36
Did you also make the directory?

[2022-04-05 20:37] Mik3Rizzo commented on #36
No! If you manually make the directory, the exception doesn't occur.
I expected that the software makes the directory if it doesn't exist. Maybe we should add that.

[2022-04-07 12:51] Linbreux commented on #36
hi @Mik3Rizzo
I tried this, and in my case it creates the correct folder automatically. Could you give a little more detail?

[2022-04-08 09:50] Mik3Rizzo commented on #36
What I did (on Windows 10):
- clone a fresh linbreux/wikmd repo
- change the `yaml` with
[code]

What I got:
[code]

It can be a Windows related error, I'll try it on Debian.

[2022-04-08 14:11] Mik3Rizzo commented on #36
Works both on Win and on Raspberry OS. Nice!

[2022-04-08 14:20] Linbreux commented on #36
alright, I merged it!

[2022-04-08 14:20] #36 closed

[2022-04-09 18:53] #33 closed

[2022-04-22 23:45] domasofan opened #39 "wikmd on Windows: Separate pandoc install not required"
Hi,

Just tested wikmd on Windows.
Seems a separate installation of Pandoc isn't required anymore.
The requirements.txt seems to take care of that already.

Greetings,
Simon

[2022-04-22 23:54] domasofan opened #40 "wikmd on Windows: Bug when converting markdown in internal editor"
Hi,

It seems there is an issue when converting written markdown in the internal editor.
Tested on a German/European Windows version.
It seems it saved the md file as ANSI/ISO-8859-1 instead of UTF-8.
So Pandoc seems to complain about that:

INFO:wiki:Saving >>> 'Test' ...
INFO:wiki:Converting to HTML with pandoc >>> 'wiki\Test.md' ...
INFO:wiki:New git commit >>> Add page 'Test' on 2022-04-23 01:

[2022-04-23 14:11] Linbreux commented on #39
Alright perfect, I remove it from the docs! Thanks for sharing.

[2022-04-23 14:14] Linbreux commented on #40
I'll try to solve this at the end of the week. The encoding does sometimes a little weird... can you give a little more detail? Do you use docker, a virtualenv or native?

[2022-04-26 13:06] kura opened #41 "Publish a new Docker image"
Hey. Any chance you can publish newer Docker images? The latest image doesn't contain any of the recently added functionality.

[2022-05-05 09:01] Linbreux commented on #41
hi @kura,

Sorry for the delay, I've been busy. I tried to build a new image, but got some problems implementing the latest code release. I'll try to do it this week.

[2022-05-05 12:20] kura commented on #41
@Linbreux no worries. When I tested this locally I had to make a few changes to install the newest requirements, as well as add some now required environment variables to get it all working. And then I promptly forgot I did it and redeployed the container, wiping out my changes. :D

No rush, honestly this was more of a prompt that the image on Docker Hub was falling behind the code on GitHub 'cos

[2022-05-28 17:43] belibug opened #42 "Docker setup fails with Git Error"
Running wikmd as docker container with following error.

[code]
Troubleshooting done,
1. Configured PID GID to current user
2. Ensured path/to/wiki has correct permission

[2022-05-29 07:52] Linbreux commented on #42
Hi @belibug ,
the docker image has known issues. I'm working on it to resolve it. For now I would suggest running it native on your machine if possible to get the best experience.

[2022-06-04 19:37] Waldorf3 commented on #42
I hope you'll be able to upload a working docker image soon.  Wikmd seems to be exactly what I've been looking for - simple clean interface, no nonsense, not trying to be a lot of other things.

[2022-06-04 20:53] Linbreux commented on #42
Hi @Waldorf3, I tried looking for the problem, but I can't seem to find how to get the user permission to work.

@artivis Sorry for the inconvenience, your Dockerfiles worked like a charm. But do you know how to fix the permission issue here, I can't seem to find the problem?

[2022-06-04 21:25] artivis commented on #42
Hey, no problem. A quick search seem to point to a [recent change in git](https://github.blog/2022-04-12-git-security-vulnerability-announced/). It has affected a lot of other projects. I'm not at my computer so I can't debug that right now but the permissions are set [here](https://github.com/Linbreux/wikmd/blob/main/docker/root/etc/cont-init.d/30-config#L16) for new repo created from the example

[2022-06-04 21:27] Linbreux commented on #42
Alright, I'll look into it. Thanks for the quick response, appreciate it!

[2022-06-05 00:22] Waldorf3 commented on #42
/wiki already is  www-data.www-data (my preferred uid-gid)
There is no /wikmd. There is a /app/wikmd, and if i chown that as well it kinda works, but data is now stored under /app/wikmd/wiki - not /wiki .  I guess the quick workaround would be to mount /app/wikmd/wiki in the docker-compose instead?

[2022-06-05 07:22] Linbreux commented on #42
My excuses, I meant 'app/wikmd'. How does your docker-compose look like? I also tried to chown the mount folder on my host machine with the hosts user (even if it already was the same) and that also made it work.

If you don't specify a volume the files won't be stored in 'wiki'.

[2022-06-05 08:18] Waldorf3 commented on #42
My docker-compose.yml is pretty much straight from the github:

[code]
btw, would it not make sense to have a config folder on the host for whatever users might customize (template etc)

[2022-06-05 08:47] Linbreux commented on #42
Could you try:
[code]
Make sure to specify the **WIKI_DIRECTORY**. Also try to chown `/home/me/wiki` again on the host.

[2022-06-05 08:48] #39 closed

[2022-06-05 08:50] Linbreux commented on #41
@kura I think everything is working for know. Let me know if it isn't :D

[2022-06-05 11:13] kura commented on #41
@Linbreux I just redeployed, pulling the latest image and it's working as expected.

In the future, when you publish a new release on GH is it going to auto-push a release to Docker Hub too?

[2022-06-05 13:17] Linbreux commented on #41
For now, I'll do it manualy. I'm looking into automating this.

[2022-06-05 18:34] kura commented on #41
Ok, sounds good.

[2022-06-05 19:37] Waldorf3 commented on #42
Yes that worked, thanks!

The documentation files are no longer present though, also not when hitting list as before, is that on purpose?

I get your point about config through env variables, makes good sense, sorry I didn't think about that.

[2022-06-05 20:02] Linbreux commented on #42
Hi good to hear that, also make sure to create a img file in the wiki folder when you want to upload images through the webinterface.

The demo files are indeed not present, thats a problem I'll fix in the future. But for know everything should work.

[2022-06-06 09:09] Waldorf3 commented on #42
I copied the content from /app/wikmd/wiki to /wiki, that seems to take are of it?

[2022-06-07 04:05] Eloco opened #43 "[enhancement] add token support to replace ssh connect would be better"
just a advice
using `${{env.repo}}` and `${{env.token}}` to connect the github repo

btw : add a basic auth or pass for the edit part would be better

[2022-06-07 05:35] Linbreux commented on #43
Thanks for the feedback

I'll at it to the todo. Good idea!

I don't know if I would like to go that route. This would at a lot of complexity to the "simple wiki". Especially when using multiple users (permissions etc...). If you have a clean way in mind, feel free to post it!

[2022-06-07 12:18] artivis opened #44 "Branch rename failed when creating a new instance."
When launching a fresh new instance I get the following error,

[code]

After a quick look I think [this line](https://github.com/Linbreux/wikmd/blob/6339804eb54c39c5c1d590a3eae5d50b569d07a0/git_manager.py#L115) should really be a `git checkout -b <branch_name>`.

[2022-06-07 14:44] artivis commented on #42
I couldn't reproduce the error described here (did find a couple other tho).
@belibug any chance you could provide a minimal reproducible example?

[2022-06-08 04:11] belibug commented on #42
@artivis this is how you can reproduce the error.
I used below docker compose yaml file to build docker image.
[code]
As you can see I mapped local immediate path 'wiki' to 'wiki' and I get below error.

[code]

I have tried mapping volume as `/wiki:/app/wikmd/wiki' with no success. Like others I tried chown the folder and set to full open permission `777` which throws new error as below.

[code]

[2022-06-08 09:14] Eloco commented on #43
for the first advice, thanks for your acceptance.

yes, simple is the key for self-hosted.
but if u post the wiki online, at least the editor part have a simple encryption, in case every one can modify your repo data.

[2022-06-08 12:00] artivis commented on #42
Hi @belibug,
Thanks for the detailed report. Could you try the fix I proposed in #45 :

- build the image,

[code]

- launch the container,

[code]

Make sure that the permissions are correctly set, e.g. with,

[code]

then you should set `PUID=1001` and `PGID=1002`.

[2022-06-09 01:42] belibug commented on #42
@artivis  I tried building from docker file, It worked for most part but failed to rename branch which is same as issue #44 which I see you opened.

[code]

[2022-06-09 07:56] Linbreux commented on #44
This commit should fix the issue.

[2022-06-09 08:20] Linbreux commented on #42
hi @belibug

This problem should be solved in 4c659cad28f8b96c02ffcc7c615b85083aaa1ab8.

[2022-06-09 21:18] Linbreux commented on #43
hi @Eloco

I added a basic password protection in #48, let me know if it fits your needs.

[2022-06-11 20:49] artivis commented on #44
Hi,

just tried the `latest` docker image and it now produces a new error messge,

[code]

[2022-07-05 18:57] kura opened #50 "Stop using JS from CDNs and host locally instead"
I don't really like that an app I am hosting myself on my network is requesting JS files from an external CDN, even with SRI. Can those JS files just be included in the repo and hosted locally instead?

[2022-07-08 12:50] kura opened #51 "Add support for a table of contents"
I would like to be able to insert a table of contents in some pages, ideally with some macro like `[toc]`. Would this be a possible future addition.

[2022-07-09 06:19] l-maciej opened #52 "Temp created as root"
Hi

I'm using docker-compose to start service :

[code]
After docker-compose up two errors are showing up:

![image](https://user-images.githubusercontent.com/95386532/178093934-7d14445a-9015-45ad-b041-56daf700503d.png)

/wiki is still used as default or just wiki tries to empty out folder.  Application is trying to move data from  /wiki it to non-existing temp folder not permitted to user with GI

[2022-07-09 08:33] Linbreux commented on #51
Yes I think this would be simple to implement, I'll look into it within a few days/weeks

[2022-07-09 08:37] Linbreux commented on #50
I'm trying to just link to the files as much as possible instead of including them. Maybe there is a way to download them just at installing wikmd, but I have not looked into that yet. Maybe a install script would do the trick.

[2022-07-09 08:45] Linbreux commented on #52
Alright thanks for noticing and the detailed instructions. I think the is because the wiki folder is hardcoded [here](https://github.com/Linbreux/wikmd/blob/main/docker/root/etc/cont-init.d/30-config#L10-L26) and this should be an environment variable.

I'll fix it asap. Does it work when you do not specify the directory?

[2022-07-09 08:55] l-maciej commented on #52
[code]
Causes same issue with moving data to temp folder

![image](https://user-images.githubusercontent.com/95386532/178099017-789a3c81-2139-4142-b207-5c3624e7365c.png)

Maybe  different init method when using sync with remote is enabled - just remove all examples since data will be pulled from git anyway

[2022-07-09 09:25] kura commented on #50
Something like that would be good, yeah. Or a config option that switches into a self-contained mode, when the process starts it can see that option is enabled, check the local filesystem for a local copy of the external libraries and if they don't exist, download them, switching to local filesystem mode in the templates too.

[2022-07-21 20:02] artivis commented on #52
Hi @l-maciej,

Why don't you simply mount your volume under `/wiki` (and remove `WIKI_DIRECTORY`)?

[code]

As for the permission issue in `/tmp`, a possible fix could be to change the permission, e.g. changing [this line](https://github.com/Linbreux/wikmd/blob/main/docker/root/etc/cont-init.d/30-config#L7) as

[code]

Without having tested it I'm not sure if it would cause other issues tho.

[2022-07-22 11:19] l-maciej commented on #52
Hi @artivis
Mounted  data folder to /wiki and application stared without issues and excessive logging.

But in turn I've noticed strange behavior with knowledge graph - it needs access to /wiki/.bash_history  to work.
But mentioned file is root owned - I think that something goes wrong [here](https://github.com/Linbreux/wikmd/blob/d3822face22874ac2287b3a52f4bd1faaf209a0a/knowledge_graph.py#L21)
Ma

[2022-08-19 11:05] Oliver-Hanikel commented on #41
Automated builds would be greatly appreciated. Docker Hub has a way to auto build on [specific tags](https://docs.docker.com/docker-hub/builds/#tag-and-branch-builds).

[2022-08-25 17:35] Linbreux commented on #50
Hi @kura,
@Oliver-Hanikel added the functionality you suggested. I'll close this issue for now.

[2022-08-25 17:35] #50 closed

[2022-08-25 17:36] #42 closed

[2022-08-25 17:50] kura commented on #50
Perfect, thanks both!

[2022-08-25 17:56] kura opened #55 "New local mode feature throws errors due to missing js directory"
When enabling the new local mode feature the container fails to start up due to a missing `js` directory.

[code]

[2022-08-25 18:27] #55 closed

[2022-08-25 23:14] Linbreux commented on #41
Normaly the releases and main (edge) branch will be published automaticly to dockerhub thanks to @artivis

[2022-08-25 23:15] #41 closed

[2022-08-25 23:15] #52 closed

[2022-08-27 13:49] Linbreux commented on #51
Hi @kura
I tried building a small Macro system. Could you give it a try and let me know if this is what you had in mind?
You can check it out at [https://github.com/Linbreux/wikmd/tree/macro_support](https://github.com/Linbreux/wikmd/tree/macro_support )

[2022-08-27 13:59] kura commented on #51
@Linbreux sure thing, I'll give it a whirl this afternoon and report back.

[2022-08-27 14:28] kura commented on #51
Ok, I have a couple of notes:

1. `[[TOC 1]]` seems kind of pointless in it's currently form. Given you are only supposed to have a single `<h1>` element in a page and that already exists in the Wiki (the name of the page) I think `[[TOC ]]` should only encompass `<h2>` elements.
2. I think the CSS could do with a little bit of work
    * There is a bit too much padding between list items
    * I

[2022-08-29 19:51] Linbreux commented on #51
hi @kura

Thanks for the fast and detailed review and tests, really appreciate it!

Yes I also think h1 should be in the TOC!

Yes completely agree! I just made this really quick to see if this was something that would work. `ul`and `il` would be a better option!

This should be possible, maybe in the config file, or should it be document specific?

Yes I'm aware of this, but thanks for noting ;)

[2022-08-29 20:01] kura commented on #51
@Linbreux

No problem. I've been looking forward to this feature a for while, some of my documents are pretty large to try and scroll through without a ToC.

I can't think of a reason I'd ever want it to be different in different documents so in the config file seems very reasonable to me.

Also seems like a very reasonable solution to me.

That's fair, although all other links in the wiki pages u

[2022-08-29 20:26] Linbreux commented on #51
^^ haha yes, that's also something I need to change :)

[2022-09-03 03:22] potatoes1286 opened #58 "Knowledge graph titles are not displayed correctly when title contains a period"
Steps to recreate:
Create a new page called `test.test2`
Go to knowledge graph
Page title is displayed as `test`

My pages are listed as `[section].[subsection] - info` which causes most of the information to be cut out.
Thankfully, this isn't a major problem as one can just replace the period with any other symbol.

[2022-09-03 17:45] #58 closed

[2022-09-07 10:42] kura opened #65 "New search bug when using absolute paths and when moving documents"
I spotted 2 bugs in the new search code after leaving it running in my home lab.

1. When the wiki documents directory is an absolute path the watchdog indexer stores the abs path rather than rel path, breaking links in the results page. It works when an `index_all()` is called but not via the natural create/update functionality that the watchdog handles.
2. Moving a document between directories c

[2022-09-07 18:55] #65 closed

[2022-09-07 21:20] kura commented on #51
@Linbreux just FYI I've started poking the ToC branch. I've managed to make it a little bit faster and am working on switching it over to nested unordered lists.

[2022-09-07 21:29] Linbreux commented on #51
@kura Alright! My work was more like a draft to see if it was possible to create a full macro system. Optimization was not yet on my radar, so I'm glad you improved it already!

[2022-09-07 21:33] kura commented on #51
@Linbreux that's fair. I gained most of the performance benefits by switching the macro detection and parsing out to a single compiled REGEX and only changed it to only run one of the macro classes if a matching macro exists.

I tried to get pandoc to do the ToC generation too since `--toc` and `--toc-depth` are options but couldn't get it to generated a ToC. :/

[2022-09-07 21:39] Linbreux commented on #51
I also tried that once in the passed, but didn't got it to work. I'm also curious if it's easy to generate an indented unordered list with bs4 ;)

[2022-09-07 21:44] kura commented on #51
[**@Linbreux**](https://github.com/Linbreux) commented on [7 Sept 2022, 21:39 UTC](https://github.com/Linbreux/wikmd/issues/51#issuecomment-1239921457 "2022-09-07T21:39:37Z - Replied by Github Reply Comments"):

My approach to this was iterators, basically iterate until the header level changes, if the level increases then assign a ul to the previous element and continue iteration. Stepping up and

[2022-09-07 22:14] Oliver-Hanikel opened #68 "Docker image is huge"
The image is way too big for a wiki that tries to be lean.
<table>
<thead>
<tr>
<th>Architecture</th>
<th>Size¹</th>
</tr>
</thead>
<tbody>
<tr>
<td>amd64</td>
<td>448MB</td>
</tr>
<tr>
<td>armhf</td>
<td>563MB</td>
</tr>
<tr>
<td>aarch64</td>
<td>703MB</td>
</tr>
</tbody>
</table>
¹Size of #67 images

I'll try to improve this by using alpine as the base image.
But there would also be other ways l

[2022-09-08 18:18] Linbreux commented on #68
@Oliver-Hanikel  Yes I know. The image size can be reduced drastically, but I haven't looked into that yet... For now I used pandoc because all my notes had math and latex embedded into them. Pandoc was the one I used at the time that fully supported al my needs. If there are other option that support latex etc. I'll be happy to hear that!

[2022-09-08 22:44] Oliver-Hanikel commented on #68
Is Latex support even needed in the markdown converter? Isn't mathjax used in the frontend for the conversion? If Latex is not needed we could switch to [pymd4c](https://pypi.org/project/pymd4c/). md4c also is according to themselves the fastest markdown converter there is.

[2022-09-09 00:00] Oliver-Hanikel commented on #68
After switching to `python:alpine` as base image:
<table>
<thead>
<tr>
<th>Architecture</th>
<th>Size¹</th>
</tr>
</thead>
<tbody>
<tr>
<td>amd64</td>
<td>338MB</td>
</tr>
<tr>
<td>aarch64</td>
<td>395MB</td>
</tr>
</tbody>
</table>

But this does not work for armhf, because the [`pandoc` package](https://pkgs.alpinelinux.org/packages?name=pandoc) does not exist for armhf.

[2022-09-09 16:29] Linbreux commented on #68
I wrote the math of all my notes with latex syntax and I use references ([https://github.com/Linbreux/wikmd/blob/main/wiki/How%20to%20use%20the%20wiki.md](https://github.com/Linbreux/wikmd/blob/main/wiki/How%20to%20use%20the%20wiki.md)) also image sizing is easy. When we have developed a macro system I wouldn't mind changing from pandoc to anther one. But for know I personally use to many function

[2022-09-09 16:33] Linbreux commented on #68
That's an whole improvement!

Hmm could we create one ourself from source?

[2022-09-09 16:56] Oliver-Hanikel commented on #68
I managed to remove BeatifulSoup, Markdown and Pandoc from the dependencies and added PyMD4C as a replacement. They didn't promise too much, it really is blazingly fast. The Example documents took 400-800ms to render with pandoc on my laptop. MD4C manages to render them in 2-8ms.
But there are still a few things that aren't working:
- indices
- links to other wiki pages
- links inside the wiki pag

[2022-09-09 17:21] Linbreux commented on #68
@Oliver-Hanikel Interesting! Like I said, this would be an interesting implementation. @kura Implemented a cache system which should speed up loading times drastically. When it's possible to use all the features in `features.md` with another html renderer, we could switch. I don't think it would be a smart move to remove features yet.

Pandoc is not the best option, but it supports ton's of featur

[2022-09-09 17:32] kura commented on #68
I personally don't see a problem with an image that is 124MB in size given my the documents and uploads in my wiki are already 200MB+ in size.

As for replacing pandoc, I think Markdown would be a good alternative, since it has support for the ToC feature in development and it's already in use in the Whoosh search feature. Any removal of BeautifulSoup would mean needing a tool that is capable of c

[2022-09-09 17:52] kura commented on #68
So, I just checked and even the smallest LaTeX library that can be used by the Markdown-LaTeX extension is 160MB alone so it's not that much of an image size reduction.

[2022-09-10 13:10] Oliver-Hanikel commented on #68
Yeah my branch definitely isn't ready for usage, there are too many features missing. It is more of an experiment.

Well it is much faster to download new images, also the image generally builds faster now. I am running wikmd on a Raspberry Pi 3B with pretty small markdown files so I prefer a leaner docker image. A smaller image wears out the sd card only as much as needed, so it has a longer life

[2022-09-10 13:15] kura commented on #68
Just FYI [I made a very small set of changes that replaces 90% of the pandoc functionality using the python-markdown library](https://github.com/kura/wikmd/commit/ebb12f19f240c66328214161f2254c3a8cc5168d). Only thing that isn't properly working is the latex functionality. I tried using a ~400MB install of texlive to handle the latex stuff but it isn't properly detecting a handling things like `|-

[2022-09-15 18:38] dkgof opened #76 "Toggling darkmode results in an error"
When pressing the toggle darkmode icon in the upper left, i get the following error:

`FileNotFoundError
FileNotFoundError: [Errno 2] No such file or directory: '/wiki/toggle-darktheme/None.md'`

If i afterwards go back to the main page, or any other page, the theme has actually toggled, so its just the redirect that is not working.

I am running it from docker.

[2022-09-15 18:48] Linbreux commented on #76
Hi @dkgof

Thanks for letting me know, I'll check it!

[2022-09-15 18:54] Linbreux commented on #76
@dkgof what page were you on when you switched themes?

[2022-09-15 19:10] dkgof commented on #76
It seems to happen no matter what page i am on. My homepage, or any other page.

[2022-09-15 19:18] Linbreux commented on #76
Hi @dkgof,
We use [`Referer`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer) to return to the page where you pressed the toggle switch. If you could give a little more detailed information. What version are you running? Does the page still exist?

[2022-09-15 19:25] dkgof commented on #76
I am running it behind a reverse nginx proxy, maybee something needs to be setup that i forgot to support this?

Not entirely sure how to see the version, but i installed it from your docker-compose example a few hours ago. So the latest version?

When looking at the network traffic in chrome dev tools, i dont see the Referer header, maybee that is the problem?

[2022-09-15 19:26] dkgof commented on #76
Just tested without the reverse proxy, directly from the IP, then it works. So i guess the proxy is doing something.

[2022-09-15 19:46] dkgof commented on #76
Apparently, digging a bit more into it, nginx does not proxy `Referer`, so as a temporary fix, i added `Referer "/"`, so when i switch darkmode on/off, it sends me back to the frontpage, instead of the error. I guess that works well enough for me.

[2022-09-15 21:26] Oliver-Hanikel commented on #76
Some people also disable the Referer Header for privacy reasons in their Browser. We could instead put the current URL as a redirect in the link. Like it is done for the login.

[2022-09-20 17:19] adamwojt commented on #51
Any updates on this?

[2022-09-20 17:25] adamwojt opened #78 "NavBar"
I am really missing sticky NavBar on the left for this library. i think it might be bit different request than https://github.com/Linbreux/wikmd/issues/51
Virtually all docs have this.

![image](https://user-images.githubusercontent.com/45100954/191324214-ea8d23fe-9300-4d42-8efc-b8a183bf9794.png)
![image](https://user-images.githubusercontent.com/45100954/191324275-d675168f-6556-435b-b415-34062a99

[2022-09-20 18:04] kura commented on #51
[**@adamwojt**](https://github.com/adamwojt) commented on [20 Sept 2022, 17:19 UTC](https://github.com/Linbreux/wikmd/issues/51#issuecomment-1252664044 "2022-09-20T17:19:28Z - Replied by Github Reply Comments"):

Some of the discussion around this has also happened in [a sort of unrelated discussion about replacing pandoc](https://github.com/Linbreux/wikmd/discussions/70), one of the options for t

[2022-09-20 18:08] Linbreux commented on #78
Hi @adamwojt,
What kind of navbar do you mean? A table of contents of the current page? We are currently working of a `[[toc]]` macro, there are also plans to create a sidebar. https://github.com/Linbreux/wikmd/discussions/70#discussioncomment-3614896

[2022-09-20 18:09] #76 closed

[2022-09-20 20:09] adamwojt commented on #78
@Linbreux The sidebar on the left. I guess it's a dupe then. I thought that the macro issue is bit different than that.

[2022-09-20 20:16] Linbreux commented on #78
@adamwojt
The sidebar is on the TODO list ;) We just need to find a good way to integrate it.
I'll notify you when we are there!

[2022-09-21 02:06] #78 closed

[2022-09-27 07:35] sqshr opened #79 "Directory Listings Missing First Character"
Hello,
I have observed that when listing files (and clicking the subsequent links), the first character of the top level directory is missing. As a written example:

- Wiki/Technical/Cisco.md

with Wiki as the root, when you click "List all pages" you see:

- echnical/Cisco

These files are contents searchable- so it's not a wiki wide issue. I've had a look to try and work it out, but couldn't see

[2022-09-27 08:01] sqshr commented on #79
Ok, so- I've looked a little more. I _think_ the issue comes from line 123 onwards in wiki.py

`folder = root[len(cfg.wiki_directory + "/"):]`

If I remove the `+ "/"`  from lines 123, 128, and 132- it seems to solve the problem. In a quick look round I couldn't see any ill effects elsewhere- but I'm not confident to state that for a fact!

[2022-09-28 15:00] gsuberland opened #80 "Directory traversal vulnerabilities"
I have discovered several directory traversal vulnerabilities. The capabilities are as follows:

- Any `.md` file on the system can be read by an unauthenticated attacker
- The contents of sibling directories to the wiki directory can be listed by unauthenticated attacker in certain circumstances.
- Any `.md` file on the system can be overwritten by an unauthenticated attacker by default (authenti

[2022-09-29 16:20] Oliver-Hanikel commented on #80
Thanks for the issue!
Can you check if [my branch](https://github.com/Oliver-Hanikel/wikmd/tree/directory-traversal-fix) fixes these vulnerabilities or have I missed something?

[2022-09-29 16:39] Oliver-Hanikel commented on #79
`list_wiki` seems overall a bit janky. Instead of operating on strings we could use paths. This would make the code more resilient to edge cases like this one. It would probably make the code more readable too.

As a quick fix:
If you have the wiki directory configured with a trailing slash then drop it.

[2022-09-30 18:50] Export33 opened #81 "raspberry with docker - standard_init_linux.go:219: exec user process caused: exec format error"
Hi,

when using `linbreux/wikmd:latest` on a raspberry with docker i get the follwing error at startup:
`standard_init_linux.go:219: exec user process caused: exec format error`
As far as i read the architecture is propably the issue.
What is the correct image for `ARM`?

[2022-10-01 01:53] Oliver-Hanikel commented on #81
Currently there is no prebuilt image for arm32. You have to build it yourself.

[2022-10-01 19:33] Export33 commented on #81
Ok, thanks. I will try that.

[2022-10-01 19:33] #81 closed

[2022-10-02 14:29] Linbreux commented on #80
Thanks for the detailed description @gsuberland! Really appreciate this. @Oliver-Hanikel You can already create a PR for this if you want.

[2022-10-08 11:02] SmartBoy84 opened #83 "Redirect all .md files to wikimd?"
For me, the ideal setup would be one where I am able to have all my markdown files rendered and displayed by wikimd on the "main" domain and on a subdomain (or `/edit`) the same URL would allow the file to be edited?
So for example, at `domain.com/file.md` I'd be able to just view the file as if it were a normal page then at `edit.domain.com/file.md` I'd be able to sign and edit the file.

Current

[2022-10-08 11:59] Linbreux commented on #83
Hi @SmartBoy84

It is possible to password protect editing on the wiki, it's documented in the  [docs](https://linbreux.github.io/wikmd/environment%20variables.html#password-protect), if that's why you would like to use a subdomain. Otherwise I would suggest you to run two instances, one with edit rights and another one with password protection.

You can use a [custom data path](https://linbreux.g

[2022-10-09 09:14] Linbreux commented on #83
You want every markdown file on your system to be shown in the wiki?

Change in `wikmd-config.yaml`the `wiki_directory: "wiki"`variable to `wiki_directory: "/"`or `wiki_directory: "/home/username"`

[2022-10-09 09:39] #83 closed, assigned to nobody

[2022-11-27 14:40] DhruvaSambrani opened #86 "Changing Webroot"
I want to host my wiki at `mydomain.xyz/wiki`. I have set up the correct reverse proxy via caddy, but the frontend returned by wikmd does not have the correct links. How do I change the webroot?

[2022-11-27 17:30] Linbreux commented on #86
Hi @DhruvaSambrani

Could you give a little more information, what doe you see? What are the links showing? Do you run it native or in docker?

Thanks!

[2022-11-27 19:03] DhruvaSambrani commented on #86
I see everything normally, but say I want to edit `homepage`, clicking the edit button takes me to `mydomain.xyz/edit/homepage`, but it should go to `mydomain.xyz/wiki/edit/homepage`. Manually putting this url takes me to the right page.

This is also called `baseurl` in some projects, if that helps.

Caddyfile -

[code]

[2022-11-27 20:50] Linbreux commented on #86
Hi @DhruvaSambrani

I found a way to fix this. I'll try to do it this week! [fix_webroot_#86](https://github.com/Linbreux/wikmd/tree/fix_webroot_%2386)